:root{
    --bgColor: #010101;
    --fontColor: #FFFFFF;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: o;
}
header{
    background-color: var(--bgColor);
    height: 70px;
}
header img{
    margin-left :101px;
    margin-top: 30px;
}


.NavBar{
    max-width: 1980px;
    display: flex;
    justify-content: end;
    margin-right: 15px;
    width: 409px;
    margin-left: auto;
    margin-top: -25px;
}

.itens{
    color: var(--fontColor);
    text-decoration: none;
    padding-left: 55px;
}